force-app/main/default/flows/Process_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Current_URL</name>
        <label>Fetch Current URL</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <actionName>UserRegistrationCommunityUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Current_URL</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>UserRegistrationCommunityUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Current_URL</name>
        <label>Set Current URL</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>current_url</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Current_URL.currentUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Health_Gateway_Site</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Beta_User_Only</name>
        <label>Beta User Only</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Beta NOT Required</defaultConnectorLabel>
        <rules>
            <name>Beta_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provisioning_Metadata.is_Restrict_Beta_User_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_User_Beta</targetReference>
            </connector>
            <label>Beta Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Health_Gateway_Site</name>
        <label>Is Health Gateway Site</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Registration</defaultConnectorLabel>
        <rules>
            <name>Confirm_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_url</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>healthgateway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Registration</targetReference>
            </connector>
            <label>Confirm Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Beta</name>
        <label>Is User Beta</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Complete Login</defaultConnectorLabel>
        <rules>
            <name>User_is_not_Beta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complete_Registration.IsBetaUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complete_Registration.IsRegistered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Beta_User_Required</targetReference>
            </connector>
            <label>User is not Beta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process Community User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Provisioning_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User_Provisioning_Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Provisioning_Metadata</name>
        <label>Provisioning Metadata</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Current_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Provider_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUsers.User_Provisioning_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IDP_User_Registration_User_Mapping__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>is_Restrict_Beta_User_Only__c</queriedFields>
        <queriedFields>External_Provider_Role__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Beta_User_Required</name>
        <label>Beta User Required</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Beta_User_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Unable to complete your login, please contact support.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUsers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Complete_Registration</name>
        <label>Complete Registration</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Beta_User_Only</targetReference>
        </connector>
        <flowName>Health_Gateway_User_Registration</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>current_url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
